@import "tailwindcss";
@import "@heroui/styles";

body {
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0c2f25;
}

.color-primary {
  color: #17a2b8;
}

.color-secondary {
  color: #0b0b3b;
}

.color-tertiary {
  color: #0c2f25;
}

.color-muted {
  color: #6d8276;
}

.bg-primary {
  background-color: #17a2b8;
}

.bg-secondary {
  background-color: #0b0b3b;
}
